---
layout: default
title: Networks
---

<div class="container-sm">
  <h1>InspIRCd Networks</h1>
  <div>
    <p>
      If your network uses InspIRCd then you can <a href="https://github.com/inspircd/website/edit/master/_data/networks.yml">file a pull request</a> to include it here. All networks MUST use TLS, have 10 human users, and be at least 3 months old.
    </p>
    <p>
      The networks listed here are NOT endorsed in any way by the InspIRCd Team and inclusion does not constitute a recommendation.
    </p>
  </div>

  <div id="inspircd-networks">
{% for network in site.data.networks %}
    <div>
      <hr>
      <div class="mb-4">
        <h2>
          {% if network.url != "#" %}<a href="{{ network.url }}" rel="_nofollow">{% endif %}{{ network.name }}{% if network.url %}</a>{% endif %}
          &mdash; {{ network.server.host }} +{{ network.server.port }}
          </h2>
        <ul class="fa-ul">
          <li>
            <span class="fa-li"><i class="fa-solid fa-hashtag"></i></span>
            <a href="ircs://{{ network.server.host }}:{{ network.server.port }}/{{ network.server.chan }}" rel="_nofollow">Connect using your IRC client</a>
          </li>
          <li>
            <span class="fa-li"><i class="fa-solid fa-hashtag"></i></span>
            <a href="https://kiwiirc.com/nextclient/{{ network.server.host }}:+{{ network.server.port }}/{{ network.server.chan }}" rel="_nofollow">Connect using KiwiIRC</a>
          </li>
        </ul>
      </div>
      <div>{{ network.description | markdownify }}</div>
    </div>
{% endfor %}
  </div>

  <script type="text/javascript">
    var networks = document.getElementById("inspircd-networks");
    for (var i = networks.children.length; i >= 0; i--) {
      networks.appendChild(networks.children[Math.random() * i | 0]);
    }
  </script>
</div>
