$gutter             : 35px;
$dblGutter          : $gutter*2;

$marginCenter       : 0 auto;
$topBarHeight       : 70px;

$logoWidthSmall     : 148px;
$logoHeightSmall    : 22px;

$logoWidthMedium    : 203px;
$logoHeightMedium   : 31px;

$logoWidthLarge     : 227px;
$logoHeightLarge    : 34px;


$buttonBorderRadius : 0;
$buttonBorderWidth  : 2px;

$headlineMainHeight  : 305px;
$headlineInnerHeight : 240px;
$sideBarWidth        : 285px;

$xSmallPhoneVersion  : #{320 - ($gutter * 2)};
$smallPhoneVersion   : #{480 - ($gutter * 2)};
$mediumPhoneVersion  : #{768 - ($gutter * 2)};
$tabletVersion       : #{1024 - ($gutter * 2)};
$mainWidth           : #{1366 - ($gutter * 2)};
