$defaultFontFamily : "Lato", "Helvetica", sans-serif;
$fw_xLight    : 100;
$fw_light : 300;
$fw_regular : 400;
$fw_bold     : 700;
$fw_xBold    : 900;

$fw_default  : $fw_regular;


$fs_XXsmall : 12px;
$fs_Xsmall  : 13px;
$fs_small   : 14px;
$fs_medium  : 18px;
$fs_large   : 24px;
$fs_Xlarge  : 45px;
