body
{
	background-image: url('/assets/images/bg.jpg');
	background-repeat: repeat-y;
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 11px;
	margin: 0px;
	text-align: center;
}

footer
{
	font-size: 10px;
	padding-bottom: 20px;
	text-align: center;
}

h1, h2, h3, h4, h5, h6, p, pre
{
	padding-left: 1em;
	padding-right: 1em;
}

#head-top-left
{
	background-image: url('/assets/images/top-l.jpg');
	float: left;
	height: 64px;
	width: 314px;
}

#head-top-center
{
	background-image: url('/assets/images/top-m.jpg');
	height: 64px;
}

#head-top-right
{
	background-image: url('/assets/images/top-r.jpg');
	float: right;
	height: 64px;
	width: 138px;
}

#head-mid-left
{
	background-image: url('/assets/images/mid-l.jpg');
	float: left;
	height: 22px;
	width: 58px;
}

#head-mid-center
{
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 12px;
	height: 22px;
	line-height: 22px;
	padding: 0px;
	text-align: center;
}

#head-mid-right
{
	background-image: url('/assets/images/mid-r.jpg');
	float: right;
	height: 22px;
	width: 66px;
}

#head-bottom-left
{
	background-image: url('/assets/images/bot-l.jpg');
	float: left;
	height: 25px;
	width: 62px;
}

#head-bottom-center
{
	background-image: url('/assets/images/bot-m.jpg');
	height: 25px;
}

#head-bottom-right
{
	background-image: url('/assets/images/bot-r.jpg');
	float: right;
	height: 25px;
	width: 70px;
}

#main
{
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	width: 90%;
}

.main-entry
{
	background-color: #F1F1F1;
	border-color: gray;
	border-style: solid;
	border-width: 2px;
	margin-bottom: 20px;
}

.main-entry-title
{
	background-image: url('/assets/images/tile_back.png');
	background-repeat: repeat-x;
	color: #404040;
	font-weight: bold;
	font-size: 12px;
	height: 30px;
	line-height: 30px;
}

.main-entry-image
{
	padding-left: 7px;
	padding-right: 7px;
}

.main-entry-image-right
{
	float: right;
	margin-top: 7px;
}

.main-entry-pagination
{
	background-color: #9CB3BE;
	height: 20px;
	line-height: 20px;
	padding-left: 5px;
	padding-right: 5px;
}

.main-entry-seperator
{
	background-color: #9CB3BE;
	height: 10px;
}

.main-entry-footer
{
	background-color: #9CB3BE;
	height: 10px
}

.article-author
{
	background-color: #45657A;
	color: white;
	height: 30px;
	line-height: 15px;
	padding: 3px;
}

.article-head, .article-head a
{
	color: black;
	font-weight: bold;
	padding-top: 0.5em;
	padding-left: 0.5em;
}

.article-body
{
	border-color: gray;
	border-style: dotted;
	border-width: 1px;
	margin: 0.5em;	
}