<!DOCTYPE html>
<html>
	<head>
		{% if page.title %}
			<title>{{ site.info.title }} - {{ page.title }}</title>
		{% else %}			
			<title>{{ site.info.title }} - {{ site.info.slogan }}</title>
		{% endif %}
		<meta charset="utf-8">
		<meta name="description" content="{{ site.meta.description }}">
		<meta name="keywords" content="{{ site.meta.keywords }}">
		<meta http-equiv="X-UA-Compatible" content="IE=Edge;Chrome=1">
		<link rel="stylesheet" media="screen" href="/assets/stylesheets/normalize.css" type="text/css">
		<link rel="stylesheet" media="screen" href="/assets/stylesheets/screen.css" type="text/css">
		<script type="text/javascript" src="/assets/javascripts/modernizr.js"></script>
	</head>
	<body>
		<div id="content">
			<header id="head">
				<div id="head-top">
					<div id="head-top-left"></div>
					<div id="head-top-right"></div>
					<div id="head-top-center"></div>	
				</div>
				<div id="head-mid">
					<div id="head-mid-left"></div>
					<div id="head-mid-right"></div>
					<nav id="head-mid-center">
						{% for link in site.navigation %}
							<a href="{{ link.uri }}">{{ link.title }}</a> {% if forloop.last == false %} | {% endif %}
						{% endfor %}
					</nav>
				</div>
				<div id="head-bottom">
					<div id="head-bottom-left"></div>
					<div id="head-bottom-right"></div>
					<div id="head-bottom-center"></div>		
				</div>
			</header>
			<div id="main">
				{{ content }}
			</div>
			<footer id="foot">
				Site design &copy; 2004-2012 Craig McLure
				<br>
				Inspire IRCd &copy; 2002-2012 InspIRCd Development Team
				<br>
				Licensed under the terms of the <a rel="license" href="http://www.gnu.org/licenses/gpl-2.0.html">GNU General Public License 2.0</a>
			</footer>
		</div>
		
	</body>
</html>